/*CSS for all/most pages*/
body {
  font-family: Calibri, Helvetica, sans-serif;
  font-size: 32px;
  padding: 0;
  margin: 0;
}

h1 {
  text-align: center;
}

h2 {
  margin-left: 5%;
  margin-right: 5%;
  border-bottom: 8px solid #dedede;
}

.active {
  color: grey;
  background-color: grey;
}

header {
  padding: 2%;
}

header *{
  box-sizing: border-box;
}

.Search input[type=text]{
  border-radius: 45px;
  padding: 2%;
  font-size: 64px;
  border: 4px solid black;
  float: left;
  width: 80%;
}

.Search i {
  padding: 0 5%;
}

/*CSS For Footer and Navbar*/
footer {
  height: 240px;
}

li {
  display: block;
  width: 20%;
  float: left;
}

li img {
  width: 100%;
}

li a {
  text-align: center;
  display: block;
  padding: 14px 16px;
  text-decoration: none;
}

li a:visited, li a:link {
  color: black;
}

ul {
  background-color: white;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
}

/*CSS For home.html*/
.CategoryItems img, .DealItems img {
  margin: 2%;
  width: 28.33%;
  background-color: grey;
}

/*CSS For messages.htmel*/
.message {
  height: 120px;
  margin: 2%;
  padding: 1%;
  border: 8px solid grey;
}
.message img {
  display: inline-block;
  height: 120px;
}
.message p {
  margin: 0 20px;
  vertical-align: top;
  display: inline-block;
}

.message i {
  float: right;
  padding: 0 5%;z
}

/*CSS For history.html*/
.order {
  height: 120px;
  margin: 2%;
  padding: 1%;
  border: 8px solid grey;
}

.order-left {
  float:left;
  width: 50%;
}

.order-right {
  float: right;
  width: 50%;
}

.order-left p {
  margin: 0;
  display: block;
  text-align: left;
}

.order-right p {
  margin: 0;
  display: block;
  text-align: right;
}
/* CSS For cart.html */
.carth1 {
  width: 80%;
  float: left;
  margin: 0;
}

.fa-trash {
  margin: auto;
}

.shopping-cart {
  margin: 0 5%;
}

.shopping-cart h2 {
  margin: 5% 0;
}

.cart-item {
  border: 4px solid black;
}

.empty {
  position:fixed;
  top: 50%;
  left: 50%;
  width:30em;
  height:18em;
  border: 0px;
}

.column-left, .column-right, .column-middle {
  display: inline-block;
}

.column-left {
  width: 20%;
}

.column-middle {
  display: inline-block;
  padding-left: 2.5%;
  margin: 0;
  width: 60%;
  border-left: 4px solid black;
  border-right: 4px solid black;
}

.column-right {
  margin: auto;
  width: 10%;
}
