input {
  width: 90%;
}

body {
  font-family: Calibri;
  font-size: 32px;
}

.Deals, .Categories, div.Search {
  padding-left: 5%;
  padding-right: 5%;
}

h1 {
  border-bottom: 8px solid #dedede;
}

.CategoryItems img, .DealItems img {
  width: 30%;
  background-color: grey;
}

ul {
  display: inline-block;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
}

li {
  width: 20%;
  float: left;
}

li img {
  width: 100%;
}

li a {
  display: block;
  color: black:
  font-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.active {
  background-color: grey;
}
